<p>
  <mat-toolbar style="background-color: rgb(224, 0, 94);">
    <button mat-icon-button (click)="snav.toggle()" class="menu" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>

    <span>Fund Details</span>
    <span class="example-spacer"></span>

    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon>settings</mat-icon>
    </button>

    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
      <mat-icon>home</mat-icon>
    </button>
  </mat-toolbar>

  <mat-sidenav-container>
    <mat-sidenav #snav mode="side" opened>
      <mat-nav-list style="width: 200px;">

        <a mat-list-item  #CustomerForm routerLink='customer form' style="height: 50px;">
          <mat-icon>person</mat-icon>Customer Details
        </a>



        <a mat-list-item #All CustomerList   routerLink='customer details' style="height: 50px;">
          <mat-icon>people</mat-icon>All Customers List
        </a>


        <a mat-list-item #WeeklyPayments routerLink='ws' style="height: 50px;">
          <mat-icon>calendar_today</mat-icon>Weekly Subscription
        </a>

        <a mat-list-item #WeeklyPaymentList routerLink='ws' style="height: 50px;">
          <mat-icon>calendar_today</mat-icon>Weekly Payment List
        </a>

        <a mat-list-item  #Loans routerLink='loans' style="height: 50px;">
          <mat-icon>account_balance</mat-icon>Loan Details
        </a>

        <a mat-list-item  #RepaymentLoans routerLink='loans' style="height: 50px;">
          <mat-icon>account_balance</mat-icon>Repayment Details
        </a>

      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <p style="height: 88vh">
        <router-outlet>

        </router-outlet>
      </p>
    </mat-sidenav-content>
  </mat-sidenav-container>

</p>
