.homepage{
    color: black;
    text-align: center;
    font-size: 20px;
    margin-top: 200px;

}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.example-icon {
    padding: 0 14px;
  }
  .example-spacer {
    flex: 1 1 auto;
  }
  .mat-sidenav a:hover {
      color: rgb(241, 3, 75);
  }